body{
    font-family: 'Montserrat', sans-serif;
}
.events_at_jims{
    background: #98002E;
    color: white;
}
.events_at_jims-2{
    background:	rgb(240, 41, 41);
    transform: skewX(-14deg);
}
.events_at_jims-1 h1{
    text-align: center;
    padding-top: 40%;
}
.events_at_jims-3 img{
    max-width: 105%;
    height: auto;
  
    transform: skewX(-14deg);
}
@media (max-width: 1000px){
    .events_at_jims-3 img{
        transform: skewX(0deg);
    }
    .events_at_jims-1 h1{
        padding: 5% 0%;
    }
}
/* ------ For Home Icon ------*/
.header-icons{
    background-color: lightblue;
    padding: 1% 20%;
    ;
}
.header-icons a{
    text-decoration: none;
    color: black;
}
.header-icons a:hover{
    box-shadow: inset 15px 2px 0 10px #f17c9f;
    transform: scale(1.3);
}

.content h3{
    margin-top: 5%;
    text-align: center;
    color: #98002E;
    font-weight: 900;
}
.content .row{
    margin: 5% 5%;   
}
.content img{ 
    display: block;
    max-width: 80%  ;
    height: auto;
    margin-bottom: 2%;
    border: black solid 1px;
    filter: drop-shadow(0 -6mm 4mm lightblue);
}
.column-1{
    margin-top: 2%;
    border-right: #98002E dotted 3px;
    border-bottom: #98002E dotted 3px ;
}
.column-2{
    margin-top: 2%;
    border-left: #98002E dotted 3px;
    border-bottom: #98002E dotted 3px;
}
/*------ Footer part ------*/
.footer{
    background-color: #98002E;
    color: black;
    margin-top: -10px;
    font-style: italic;
    font-weight: 700;
}

.icons{
    color: rgb(140, 219, 245);
    margin: 0px 10px;
    filter: drop-shadow(0 0 0.2rem rgb(36, 3, 3));
}
.icons:hover{
    transform: scale(1.3); 
}
.Footer-logo{
    max-width: 70%;
    margin-left: 50px;
    height: auto;
    border-radius: 10px 10px 60px 60px;
    filter: drop-shadow(5px 5px 5px rgb(12, 12, 12));
}

.icons-hub{
    margin-top: 30px;
    padding: 0px 5px;
}
.icons-hub2{
    margin-top: 40px    ;
}
.footer-content{
    margin-top: 20px;
}
.Footer_img img{
    display: block;
    max-width: 100%;
    height: auto;
}

/*------- Copy Right -------*/
.copy-right{
    background: black;
    padding: 10px 0px;
    color: white;
    text-align: center;
}
